<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Shopclix.in, <%= @name %></h1>
    <p>
      You have created an Account at Shopclix. Please verify your email account <%= @email %> to complete
      the signup process.
    </p>
    <p>
      One Time Password for Verification is: <%= @otp %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>