<!DOCTYPE html>
<html>
<head>
	<title> Team </title>
	<style>
		.team_outer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.team_outer > div{
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	align-items: center; 
	width: 80%;
	margin: auto;
}
.team_container{
	display: flex;
	flex-direction: column;
}

.team_container > div{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}

.team_container > div > div{ 
	height: 300px; 
	display: flex; 
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.team_container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;	
}

.flipper:hover{
		/*-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);*/
		transform: rotateY(180deg);
	}

	.front, .back {
		width: 100%;
		height: 100%;
		display: flex; 
		justify-content: space-around; 
		align-items: center; 
		flex-direction: column;
	}

	.flipper {
		-webkit-transition: 0.6s;
		-webkit-transform-style: preserve-3d;

		-moz-transition: 0.6s;
		-moz-transform-style: preserve-3d;
	  
	    -o-transition: 0.6s;
		-o-transform-style: preserve-3d;

		transition: 0.6s;
		transform-style: preserve-3d;
		

		width: 30%;
		height: 100%;

		/*position: relative;*/
	}

	.front, .back {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
		backface-visibility: hidden;
		background: #f8f8f8;

		position: absolute;
		top: 0;
		left: 0;
	}

	/*.front {
		z-index: -1;
	}*/

	.back {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
	    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.front .name {
		font-size: 2em;
		display: inline-block;
		background: rgba(33, 33, 33, 0.9);
		color: #f8f8f8;
		font-family: Courier;
		padding: 5px 10px;
		border-radius: 5px;
		bottom: 60px;
		/*left: 25%;*/
		/*position: absolute;*/
		text-shadow: 0.1em 0.1em 0.05em #333;

		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
	    -o-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	.back-logo > img {
		/*position: absolute;*/
		/*top: 40px;*/
		/*left: 90px;*/
		width: 100px;
		height: 100px;
	}


	.back-title {
		font-weight: bold;
		color: #00304a;
		/*position: absolute;*/
		/*top: 180px;*/
		/*left: 0;*/
		/*right: 0;*/
		text-align: center;
		text-shadow: 0.1em 0.1em 0.05em #acd7e5;
		font-family: Courier;
		font-size: 1.6em;
	}

	.back p {
		/*position: absolute;*/
		/*bottom: 40px;*/
		/*left: 0;*/
		/*right: 0;*/
		text-align: center;
		padding: 0 20px;
	  	font-family: arial;
	  	line-height: 2em;
	}
	</style>
</head>
<body>

	<div class="team_outer" id="team">
      <h3 style="font-size: 18px;">THE TEAM</h3>
      <p style="color: grey">The ones who run this company</p>

      <div>
        <h5> Management </h5>
        <div class="team_container">
          <div> 
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title"> Amit </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> C. E. O. </div>
	                <p> Description </p>
	              </div>
	          </div>
	          <div class="flipper">
	              <div class="front">
	                <img src="images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title"> IIM Guy </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Director </div>
	                <p> Description </p>
	              </div>
	          </div>
	      </div>
        </div>
      </div>

      <div>
        <h5> Software Development </h5>
        <div class="team_container">
          <div> 
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title"> Aditi Mittal </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Designation </div>
	                <p> Description </p>
	              </div>
	          </div>
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title">  Navpreet </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Designation </div>
	                <p> Description </p>
	              </div>
	          </div>
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title"> Parikshit Hooda </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Designation </div>
	                <p> Description </p>
	              </div>
	          </div>
	      </div>
	      <div>
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title">  Shubham Aggarwal </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Designation </div>
	                <p> Description </p>
	              </div>
	          </div>
	          <div class="flipper">
	              <div class="front">
	                <img src="./images/male.png" style="width:90%; height: 260px; border-radius: 50%;">
	                <span class="back-title">  Shubhi Agrawal </span>
	              </div>
	              <div class="back">
	                <div class="back-logo"> <img src="./images/male.png"> </div>
	                <div class="back-title"> Designation </div>
	                <p> Description </p>
	              </div>
	          </div>
	        </div>
        </div>
      </div>
</body>
</html>